.roadmap {
  background: lightgrey;
  min-width: 800px;
  height: 100%;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  position: relative;
}
.roadmap-header {
  position: absolute;
  top: -35px;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.roadmap-header-item {
  padding: 10px 15px;
}
.roadmap-header-item.active {
  position: relative;
}
.roadmap-header-item.active:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: dodgerblue;
}
.dropzone {
  display: none;
}

.dropzone-active {
  background: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
  border: dashed 1px grey;
  height: 100px;
  margin: 20px;
}
.text {
  margin: auto;
}
.timeline-container {
  height: 100%;
  padding-left: 30px;
  padding-top: 40px;
  position: relative;
  overflow: auto;
}
.timeline-blocks-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  z-index: 1;
}
.timeline-block {
  flex: 1 0 auto;
  position: relative;
}
.timeline-block span {
  position: absolute;
  top: -10px;
  left: -25px;
}
.quarter:before {
  border-right: none;
  position: absolute;
  top: -15px;
  left: -5px;
  display: flex;
  justify-content: center;
  content: 'Q';
}

